---
layout: default
title: Home
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<div class="snippet">
    <div class="posttitle">
        <a href="{{ post.url | prepend: site.baseurl }}">
            <h1>{{ post.title }}</h1>
            <h2><span>{{ post.date | date_to_string }}</span></h2>
        </a>
    </div>
        
    {% if post.excerpt %}
        <p>{{ post.excerpt }}</p>
        <p style="text-align:center"><a href="{{ post.url | prepend: site.baseurl }}"><span>- Read more -</span></a></p>
    {% endif %}
</div>
{% endfor %}

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <span><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a></span>
  {% else %}
    <span>&laquo;</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span>{{ page }}</span>
    {% elsif page == 1 %}
      <span><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></span>
    {% else %}
      <span><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></span>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <span><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a></span>
  {% else %}
    <span>&raquo;</span>
  {% endif %}
</div>
{% endif %}