<nav>
    <span>
    <a class=navlink href="{{ site.baseurl }}/">Blog</a>
    {% for pages in site.pages %}
        {% if pages.title != "Home" %}
            <span class="separator">&bull;</span>
            <a class=navlink href="{{ site.baseurl }}{{ pages.permalink }}">{{ pages.title }}</a>
        {% endif %}
    {% endfor %}
    {% if site.github %}
        <a class=navlink href="https://www.github.com/{{ site.github }}">GitHub</a>
        <span class="separator">&bull;</span>
    {% endif %}
    {% if site.linkedin %}
        <a class=navlink href="https://www.linkedin.com/in/{{ site.linkedin }}">LinkedIn</a>
    {% endif %}
</span>
</nav>