<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<div class="snippet">
  <div class="posttitle">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h1>{{ post.title }}</h1>
        <h2><span>{{ post.date | date_to_string }}</span></h2>
    </a>
        
    {% if post.excerpt %}
        <p>{{ post.excerpt }}</p>
        <p style="text-align:center"><a href="{{ post.url | prepend: site.baseurl }}"><span>-more-</span></a></p>
    {% endif %}
  </div>
</div>
{% endfor %}

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
