<div class="topbar", "group">
    <div class=title-box>
        <a class=title href="{{ site.baseurl }}/">{{ site.greeting }}</a>
    </div>
    <div class=top-left-graphics-box></div>
    {% if page.show-subtitle == true %}
        <div class=subtitle-box>
            {{ site.description }}
        </div>
    {% endif %}

    <nav>
        <span>
            {% for x in site.navlinks %}
                {% if forloop.first == false %}
                    <span>&bull;</span>
                {% endif %}
                {% if x.internal == true %}
                    <a class=navlink href="{{ site.baseurl }}{{ x.url }}">{{ x.text }}</a>
                {% else %}
                    <a class=navlink href="{{ x.url }}">{{ x.text }}</a>
                {% endif %}
            {% endfor %}
        </span>
    </nav>
    <div class=bottom-right-graphics-box></div>    
</div>