<div class="topbar", "group">
    {% if page.title != "Home" %}
        <h1 class="title">{{ page.title }}</h1>
    {% else %}
        <h1 class="title">{{ site.greeting }}</h1><br>
    {% endif %}
    {% if page.tagline %}
        <h1 class="tagline">{{ page.tagline }}</h1>
    {% endif %}
    
    <div class="mobile-topbar">
        {% if page.title != "Home" %}
            <h1 class="title">{{ page.title }}</h1><br>
        {% else %}
            <h1 class="title">{{ site.greeting }}</h1><br>
        {% endif %}
    </div>
    
    {% include navbar.html %}
</div>



