/* Common Elements */
* { // force browsers to use same margins/padding
  margin: 0;
  padding: 0;
}

body {
  line-height: 28px;
  font-size: 11pt;
  background-color: $bg-color;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: $normal-color;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

.topbar {
  margin: 0px auto 20px;
  max-width: $column_width;
  position: relative;
  .top-left-graphics-box {
    width: 35%;
    height: 90px;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    border-left: 2px solid $dark-color;
    border-top: 2px solid $dark-color;
    @media (max-width: $column-width-trigger) {
      left: $column-padding;
    }
  }
  .bottom-right-graphics-box {
    width: 12%;
    height: 40px;
    position: absolute;
    z-index: 1;
    bottom: 0px;
    right: 0px;
    border-right: 1px solid $dark-color;
    border-bottom: 1px solid $dark-color;
    @media (max-width: $column-width-trigger) {
      right: $column-padding;
    }
  }
  .vanishing-box {
    transition-duration: .5s;
    max-height: 500px;
    overflow: hidden;
    @media (max-width: $column-width-trigger) {max-height: 0;}
  }
  .title-box {
    position: relative;
    z-index: 2;
    width: $column-width;
    margin-top: 32px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: $column-width-trigger) {
      width: auto;
      padding-left: $column-padding;
      padding-right: $column-padding;
    }
  }
  nav {
    position: relative;
    z-index: 2;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-top: 24px;
    margin-bottom: 80px;
    font-size: 20px;
    text-align: center;
    @media (max-width: $column-width-trigger) {
      max-width: 100%;
      padding-left: $column-padding + 20px;
      padding-right: $column-padding + 20px;
    }
  }
  .navlink {
    color: $dark-color;
    &:hover,
    &:focus, {
      border-bottom: 1px solid $dark-color;
    }
  }
  h1 {
    color: $dark-color;
    font-family: 'Raleway', Arial, sans-serif;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 64px;
    line-height: 56px;
  }
  h2 {
    color: $light-color;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    margin-top: 48px;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
  }
}

/* Main Column */
main {
  width: $column-width;
  margin: 10px auto;
  @media (max-width: $column-width-trigger) {
    width: auto;
    padding-left: $column-padding;
    padding-right: $column-padding;
  }
}

.posttitle {
  h1 {
    color: $dark-color;
    font-family: 'Raleway', Arial, sans-serif;
    margin-top: 20px;
    font-size: 36px;
    line-height: 32px;
  }
  h2 {
    font-family: 'Oswald', sans-serif;
    color: $light-color;
    font-size: 24px;
    margin-top: 8px;
    margin-bottom: 24px;
  }
}

.snippet {
  margin-top: 60px;
  margin-bottom: 60px;
}

h1 {
  color: $dark-color;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 30px;
  // line-height: 32px;
  margin-top: 32px;
  margin-bottom: 18px;
}

h2 {
  font-family: 'Oswald', sans-serif;
  color: $light-color;
  font-size: 24px;
  margin-top: 32px;
  margin-bottom: 18px;
}

footer {
  margin-top: 100px;
  margin-bottom: 10px;
  text-align: center;
  color: $light-color;
  p {
    margin-top: 90px;
    margin-bottom: 40px;
  }
}

.pagination {
  margin-top: 100px;
  text-align: center;
  font-size: 20px;
  span {
    padding-left: 8px;
    padding-right: 8px;
  }
}

p {
    margin-bottom: 15px;
}

a {
  color: $light-color;
  text-decoration: none;
  &:hover,
  &:focus, {
    border-bottom: 1px solid $light-color;
  }
}

img, iframe {
  margin: 25px auto;
  max-width: 100%;
  // nice fade-y box shadow
  border: 1px solid;
  border-color: #e5e5e5 #dbdbdb #d2d2d2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  display: block;
}

ul, ol {
    list-style-position: inside;
    padding-bottom: 12px;
}

td {
  padding-right: 8px;
}

table {
  margin: auto;
  padding-bottom: 14px;
}

a.footnote:before {   
 content: "[";
}

a.footnote:after {
    content: "]";
}

.code {
  padding-left: 10px;
}

blockquote {
  line-height: 22px;
  border-left: 10px solid $lightest-color;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  p {
    margin-bottom: 5px;
  }
}